.container_section{
    display:var(--container_section_display);
    align-items: center;
    width: calc(var(--widthMain)*0.95);
    height: calc(var(--heightMain)*0.96);

}
.section_a{
    display:grid;
    align-items: center;
    text-align: center;
    /* border: 1px var(--colorComplementario) solid; */
    height: calc(var(--heightMain)*var(--sections_height));
    width: calc(var(--widthMain)*var(--sections_width));
    margin: 2%;
}
.section_b{
    display:grid;
    align-items: center;
    text-align: center;
    /* border: 1px var(--colorComplementario) solid; */
    height: calc(var(--heightMain)*var(--sections_height));
    width: calc(var(--widthMain)*var(--sections_width));;
    margin: 2%;
}

.section_c{
    /* border: 1px var(--colorComplementario) solid; */
    height: calc(var(--heightMain)*0.94);
    width: calc(var(--widthMain)*0.95);
}
#canvas{
    height: calc(var(--heightMain)*1);
    width: calc(var(--widthMain)*0.98);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -99;
}
.img1{
    padding: 10%;
    opacity: 100%;
    height: calc(var(--heightMain) * 0.12);
    background-color: var(--color1alfa);
    border: 1px var(--colorComplementario) solid;
    border-radius:12%;
    margin:5%;
}
#trabajos{
    width: 100%;
    text-align: center;
    height: calc(var(--heightMain));
    display: grid;
    padding: 0 15%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 2fr 3fr;
    padding:var(--main-padding);
}
#proyectos{
    width: 100%;
    text-align: center;
    height: calc(var(--heightMain));
    display: grid;
    padding: 0 15%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr;
    padding:var(--main-padding);
}
#habilidadesb{
    height: calc(var(--heightMaint) );
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.img_contenedor{
    margin-top: 5%;
    background-size:70%;
    background-repeat-x:no-repeat;
    background-repeat-y:no-repeat;
    background-position:50% 10%;
    display: grid;
    align-items: end;
}
.footer_section{
    position:absolute;
    bottom: 6%;
    width: 100%;
    text-align: center;
}
#mheader{
    position: fixed;
    top:0;
    z-index:999
    
}
#mfooter{
    position: fixed;
    bottom: 0;
    z-index:999;
    width :100%;
    background-color: var(--color1);
    border-top: 1px var(--colorComplementario) solid;
    padding: 0.5%;

}
#navContent{
    width: calc(var(--widthMain) * 1);
    height: calc(var(--heightMain) * 0.05);
    display: grid;
    align-items: center;
    position: fixed;
    z-index: 100;
    -webkit-clip-path: polygon(0% 0%, 0% 66%, 2% 100%, 98% 100%, 100% 66%, 100% 0%);
    clip-path: polygon(0% 0%, 0% 66%, 2% 100%, 98% 100%, 100% 66%, 100% 0%);
    background-color: var(--color1);

}
#navContentf{
    width: calc(var(--widthMain) * 1);
    height: calc(var(--heightMain) * 0.05);
    display: grid;
    /* display: flex; */
    top:0.25%;
    position: fixed;
    z-index: 80;
    -webkit-clip-path: polygon(0% 0%, 0% 66%, 2% 100%, 98% 100%, 100% 66%, 100% 0%);
    clip-path: polygon(0% 0%, 0% 66%, 2% 100%, 98% 100%, 100% 66%, 100% 0%);
    background-color: var(--colorComplementario);

}
.objmenu{
    width: 25%;
    text-align: center;
    font-size: 1.5em;
    z-index: 105;
}